<%- include ../partials/head -%>

<title>Menus</title>

<%- include ../partials/header -%>

<h1>Menus</h1>

<p>
  This page is deticated to all the menus your website contains. Every menu has it's own list of pages attached to it.<br>
  Add a menu by pressing the 'Add new menu' button, or edit one by selecting it's name.
</p>

<a href="/subterra/menus/add" class="button">Add a menu</a>

<% if (system.menus.length > 0) { %>
  <ul data-list="overview">
    <% for (let i = 0; i < system.menus.length; i++) { %>
      <li>
        <a href="/subterra/menus/edit/<%= system.menus[i].id %>">
          <%= system.menus[i].name %>
        </a>
        <button data-action="delete menu" onclick="utils.removeItem('menus', <%= system.menus[i].id %>)">delete</button>
      </li>
    <% } %>
  </ul>
<% } else { %>
  <p data-type="no-results">
    No menus found.
  </p>
<% } %>

<%- include ../partials/footer -%>
