<%- include partials/head -%>

<title>Subterra - Search '<%= query %>'</title>

<%- include partials/header -%>

<h1>
  Results for<br>
  '<%= query %>' :
</h1>

<ul data-list="search-overview">
  <% Object.keys(results).forEach(category => { %>
    <% if (results[category].length > 0) { %>
      <li>
        <h3><%= category %></h3>
        <p><%= results[category].length %> <%= results[category].length === 1 ? 'item' : 'items' %> found</p>

        <ul data-list="search-category">
          <% for (let i = 0; i < results[category].length; i++) { %>
            <li>
              <a href="/subterra/<%= category %>/edit/<%= results[category][i].id %>">
                <%= results[category][i].name %>
                <button data-action="edit">
                  edit
                </a>
              </a>
            </li>
          <% } %>
        </ul>
      </li>
    <% } %>
  <% }); %>
</ul>

<%- include partials/footer -%>
