<%- include ../partials/head -%>

<title>Page types</title>

<%- include ../partials/header -%>

<h1>Page types</h1>

<p>
  This page is deticated to all the page types your website contains. Every page type has it's own list of default modules to load, when creating a new page.<br>
  Add a page type by pressing the 'Add new page type' button, or edit one by selecting it's name.
</p>

<a href="/subterra/types/add" class="button">Add new page type</a>

<% if (system.types.length > 0) { %>
  <ul data-list="overview">
    <% for (let i = 0; i < system.types.length; i++) { %>
      <li>
        <a href="/subterra/types/edit/<%= system.types[i].id %>">
          <%= system.types[i].name %><br>
          <span><%= system.types[i].defaultModules.replace(/,/g, ', ') %></span>
        </a>
        <button data-action="delete type" onclick="utils.removeItem('types', <%= system.types[i].id %>)">delete</button>
      </li>
    <% } %>
  </ul>
<% } else { %>
  <p data-type="no-results">
    No page types found.
  </p>
<% } %>

<%- include ../partials/footer -%>
